.select {
  width: 16rem;
  height: 5rem;
  font-size: 1.4rem;
  padding-left: 4rem;
  border-color: #ccc;
  color: #666;
  border-radius: 4px;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-repeat: no-repeat;
  cursor: pointer;
}

.select.status {
  background-image: url('./images/status.svg'), url('./images/arrow_down.svg');
  background-position: left 1rem center, right 1rem center;
}

.select.category {
  background-image: url('./images/category.svg'), url('./images/arrow_down.svg');
  background-position: left 1rem center, right 1rem center;
}

.select.age {
  background-image: url('./images/age.svg'), url('./images/arrow_down.svg');
  background-position: left 1rem center, right 1rem center;
}
