.select {
  width: 16rem;
  height: 5rem;
  font-size: 1.4rem;
  padding-left: 6rem;
  border-color: var(--input-select-border-color);
  color: var(--input-color);
  background-color: var(--input-background-color);
  border-radius: 4px;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-repeat: no-repeat;
  cursor: pointer;
}

.select.status {
  background-image: url('./images/status.svg'), url('./images/arrow_down.svg');
  background-position: left 2rem center, right 2rem center;
}

.select.category {
  background-image: url('./images/category.svg'), url('./images/arrow_down.svg');
  background-position: left 2rem center, right 2rem center;
}

.select.age {
  background-image: url('./images/age.svg'), url('./images/arrow_down.svg');
  background-position: left 2rem center, right 2rem center;
}

.select.gender {
  background-image: url('./images/age.svg'), url('./images/arrow_down.svg');
  background-position: left 2rem center, right 2rem center;
}

.select.status.dark {
  background-image: url('./images/statusDark.svg'),
    url('./images/arrow_downDark.svg');
  background-position: left 2rem center, right 2rem center;
}

.select.category.dark {
  background-image: url('./images/categoryDark.svg'),
    url('./images/arrow_downDark.svg');
  background-position: left 2rem center, right 2rem center;
}

.select.age.dark {
  background-image: url('./images/ageDark.svg'),
    url('./images/arrow_downDark.svg');
  background-position: left 2rem center, right 2rem center;
}

.select.gender.dark {
  background-image: url('./images/ageDark.svg'),
    url('./images/arrow_downDark.svg');
  background-position: left 2rem center, right 2rem center;
}
