.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 90px);
}

.title {
  text-align: center;
  font-size: 2.5rem;
  color: var(--first-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.areaBox {
  display: flex;
  justify-content: space-between;
}
