.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40%;
  margin: 10rem auto;
  gap: 2rem;
}

.title {
  font-size: 2.5rem;
  color: var(--first-color);
  margin-bottom: 5rem;
}

.profile {
  display: flex;
  padding-bottom: 1rem;
}

.avatar {
  margin-right: 1.8rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.8rem;
}

.name {
  display: flex;
  align-items: flex-end;
}

.name h3 {
  margin-right: 1rem;
  font-size: 1.8rem;
  color: var(--text-color);
}

.date {
  color: var(--text-color-light);
  font-size: 1.4rem;
}

.areaWrapper {
  display: flex;
  align-items: center;
}

.area {
  color: var(--text-color-light);
  font-size: 1.3rem;
  margin-left: 0.5rem;
}

.histories {
  width: 100%;
  margin-top: 2rem;
}

.like,
.my,
.apply {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  display: flex;
  align-items: center;
  color: var(--text-color-light);
}

.subtitle h1 {
  margin-left: 1rem;
  font-size: 2rem;
}

.histories {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.wrapper {
  cursor: pointer;
}

.arrow {
  transition: 0.4s;
}

.active {
  transform: rotate(-180deg);
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 0;
  overflow: hidden;
  margin-top: 1rem;
  transition: 0.4s;
}

.open {
  height: max-content;
}

.article {
  display: flex;
  align-items: center;
}

.img {
  width: 15rem;
  height: 10rem;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-right: 2rem;
}

.img img {
  width: 100%;
  height: 100%;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.summary h3 {
  font-size: 1.6rem;
  color: var(--text-color-light);
}

.tags {
  display: flex;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 25px;
  background: var(--box-color);
  font-size: 1.2rem;
  margin-right: 1rem;
}

.count {
  display: flex;
  align-items: center;
}

.count p {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  color: var(--text-color);
}

.container button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
}
