Header {
  margin-bottom: 2rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28.5rem;
  width: 108rem;
}

.img-card-container {
  display: flex;
  margin-bottom: 3rem;
}

.img-card-container > div {
  margin: 0;
}

.recruit-image {
  width: 78rem;
  height: 46rem;
  margin-right: 2rem;
  border-radius: 0.6rem;
  object-fit: cover;
}

.title-menu-container {
  display: flex;
  justify-content: space-between;
  height: 4.001rem;
  width: 78rem;
  margin-bottom: 0;
}

.recruit-title {
  font-size: 2.4rem;
  font-weight: 800;
  color: var(--recruit-title-color);
}

.recruit-menu-button {
  width: 4rem;
  cursor: pointer;
  position: relative;
  background-color: var(--body-background-color);
}

.recruit-menu-button img {
  width: 0.417rem;
  height: 1.867rem;
  position: absolute;
  top: 0;
  right: 1.044rem;
}

.recruit-menu-modal {
  width: 12rem;
  /* height: 15rem; */
  position: absolute;
  right: 1rem;
  top: -1rem;
  border: 0.1rem solid var(--recruit-udmenu-border-color);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  font-size: 1.6rem;
  text-align: center;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

.recruit-menu-modal button {
  width: 100%;
  height: 5rem;
  color: var(--recruit-title-color);
  background-color: var(--body-background-color);
  cursor: pointer;
  line-height: 5rem;
  position: relative;
}

.recruit-menu-modal button:hover {
  color: var(--first-color);
}

.recruit-menu-modal button + button {
  border-top: 0.1rem solid var(--recruit-udmenu-border-color);
}

.author-date-container {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
  position: relative;
  width: 78rem;
}

.recruit-author {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--recruit-author-color);
  margin: 0 1rem;
}

.recruit-date {
  font-size: 1.3rem;
  color: var(--recruit-author-date);
}

.recruit-text {
  width: 78rem;
  color: var(--recruit-text-color);
  font-size: 1.6rem;
  margin-bottom: 10rem;
}

.content {
  display: flex;
}
