Header {
  margin-bottom: 2rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28.5rem;
  width: 108.1rem;
}

.img-card-container {
  display: flex;
  margin-bottom: 3rem;
}

.img-card-container > div {
  margin: 0;
}

.recruit-image {
  width: 78rem;
  height: 46rem;
  margin-right: 2rem;
  border-radius: 0.6rem;
}

.title-menu-container {
  display: flex;
  justify-content: space-between;
  height: 4.001rem;
  width: 78rem;
  margin-bottom: 0;
}

.recruit-title {
  font-size: 2.4rem;
  font-weight: 800;
  color: var(--recruit-title-color);
}

.recruit-menu-button {
  width: 4rem;
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
}

.recruit-menu-button img {
  width: 0.417rem;
  height: 1.867rem;
  position: absolute;
  top: 0;
  right: 1.044rem;
}

.recruit-menu-modal {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 100%;
  top: 0rem;
  background-color: #ffffff;
  border: 0.1rem solid #cccccc;
  font-size: 1.6rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.recruit-menu-modal-modify {
  width: 100%;
  height: 50%;
  line-height: 6rem;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.recruit-menu-modal-delete {
  width: 100%;
  height: 50%;
  line-height: 6rem;
  border-top: 0.1rem solid #cccccc;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: #ffffff;
  cursor: pointer;
}

.author-date-container {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
  position: relative;
  width: 78rem;
}

.recruit-author {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--recruit-author-color);
  margin-left: 0.731rem;
  margin-right: 0.445rem;
}

.recruit-date {
  font-size: 1.3rem;
  color: var(--recruit-author-date);
}

.recruit-text {
  width: 78rem;

  font-size: 1.6rem;
  margin-bottom: 10rem;
}
