.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.logoArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.txtArea {
  margin: 0 0 1rem 1.2rem;
}

.error {
  font-size: 1rem;
  color: var(--error-color);
}
/* 유효성 통과시 메세지 */
.success {
  font-size: 1rem;
  color: var(--success-color);
}

.goToSign {
  font-size: 1.6rem;
  color: var(--first-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
}

form button {
  margin-bottom: 4rem;
}
