.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.logoArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.txtArea {
  margin: 0 0 1rem 1.2rem;
}

.success,
.error {
  font-size: 1.4rem;
}
.error {
  font-size: 1.4rem;
  color: var(--error-color);
}
.success {
  color: var(--success-color);
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.footer__link {
  font-size: 1.6rem;
  color: var(--first-color);
}
