.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logoArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.footer {
  margin-top: 2rem;
  text-align: center;
}
.footer p {
  font-size: 1.6rem;
  color: var(--input-color);
}
/* 메세지 공간 */
.txtArea {
  margin: 0 0 1rem 1.2rem;
}
/* 에러 메세지 */
.error,
.success {
  font-size: 1.4rem;
}
.error {
  color: var(--error-color);
}
/* 유효성 통과시 메세지 */
.success {
  color: var(--success-color);
}
.logtxt {
  color: var(--first-color);
}
