Header {
  position: relative;
  margin-bottom: 2rem;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 108rem;
  height: 100vh;
  margin: 0 auto;
  gap: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.8rem;
}

table {
  width: 100%;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-top: 1.5rem;
}

table thead {
  background-color: var(--management-th-background-color);
}

th {
  height: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: #000000;
}

td {
  font-size: 1.2rem;
  padding: 1rem;
  vertical-align: middle;
  width: 10%;
  color: var(--recruit-text-color);
  background-color: var(--management-td-background-color);
}

td:nth-child(6) {
  width: 30%;
}

th:nth-child(6),
td:nth-child(6) {
  text-align: left;
}

.container h2 {
  color: var(--recruit-text-color);
}

.deny button {
  margin-left: auto;
}
