.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(255, 255, 255, 0.25);
  /* 흐릿흐릿 */
  backdrop-filter: blur(1px);
}
.none {
  display: none;
}
.modal__window {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--body-background-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  width: 50rem;
  height: 38.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 100;
}

.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__header {
  margin: 2rem 0;
}
.modal__header h2 {
  font-size: 1.8rem;
  /* font-weight: initial; */
  color: var(--first-color);
}
.btn__group {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
