.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container .filter {
  display: flex;
  justify-content: right;
  margin-bottom: 3rem;
}

.container .filter select {
  padding-left: 5rem;
  margin-right: 1rem;
  background-position: left 1.4rem center, right 1.4rem center;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card-wrapper a {
  text-decoration: none;
}
