.container {
  display: flex;

  margin-bottom: 1.4rem;
}

.tab {
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--text-color);
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid var(--line-color);
}

.tab + .tab {
  padding-left: 1.6rem;
}

[active='true'] {
  color: var(--text-color);
  font-weight: bold;
  background: rgba(230, 230, 230, 0.0001);
  box-shadow: inset 0px -4px 0px var(--first-color);
}
