.container {
  display: flex;
  margin-bottom: 1.4rem;
}

.container span {
  padding: 6px 14px;
  font-size: 1.6rem;
  line-height: 2rem;
  cursor: pointer;
  border-bottom: 1px solid var(--line-color);
}

.container span[active='false'].tab:hover {
  border-bottom: 4px solid var(--first-color-light);
}

.tab {
  color: var(--text-color);
  border-radius: 0;
}

.notMemeberTab {
  color: #cccccc;
}

.notMemeberTab:last-child {
  cursor: not-allowed;
  user-select: none;
}

.container span[active='true'] {
  color: var(--text-color);
  border-bottom: 4px solid var(--first-color);
}

.container span[active='false'] {
  color: #666;
  font-weight: 300;
}
