* {
  font-family: 'SUIT', sans-serif;
}

/* Global */
:root {
  /* Color */
  --first-color: #7eda8b;
  --text-color: #292a2c;
  --text-color-light: #f9fafc;
  --body-color: #f0f1f3;
  --line-color: #e1e2e4;
}

/* Variables Dark Theme */
body.darkTheme {
  --first-color: #b2f2bb;
  --text-color: #f9fafc;
  --text-color-light: #333;
  --body-color: #333;
}

html {
  font-size: 62.5%;
}
