* {
  box-sizing: border-box;
  font-family: 'SUIT', sans-serif;
}

/* Global */
:root {
  /* Color */
  --first-color: #7eda8b;
  --first-color-light: #d0f3d5;
  --text-color: #292a2c;
  --text-color-light: #333;
  --body-color: #f0f1f3;
  --line-color: #e1e2e4;
  --error-color: red;
  --success-color: #3498db;
  --box-color: #eee;
  --recruit-title-color: #333;
  --recruit-author-color: #5a5a5a;
  --recruit-author-date: #757575;
  --recruit-text-color: #000000;
  --recruit-button-background: '#fff';
  --body-background-color: #f8f9fa;
  --header-background-color: #f8f9fa;
  --header-sigin-in-color: #333;
  --header-sigin-up-color: #fff;
  --card-background-color: #ffffff;
  --detail-card-border-color: #eee;
  --detail-card-recruit-button: #ffffff;
  --detail-card-recruit-button-color: #7eda8b;
  --detail-card-tag-background-color: #f3f5f8;
  --detail-card-tag-text-color: #666666;
  --detail-card-button-border-color: #7eda8b;
  --input-color: #666;
  --input-background-color: #ffffff;
  --create-card-color: #333333;
  --recruit-card-author-color: #5a5a5a;
  --recruit-udmenu-border-color: #cccccc;
  --chat-input-background-color: #efefef;
  --chat-input-placeholder-color: #999999;
  --management-th-background-color: #eee;
  --management-td-background-color: #ffffff;
  --input-select-border-color: #ddd;
  --likes-button-hover-color: #efefef;
}

/* Variables Dark Theme */
body.darkTheme {
  --first-color: #b2f2bb;
  --first-color-light: #fff;
  --text-color: #f9fafc;
  --text-color-light: #f9fafc;
  --line-color: #555;
  --recruit-title-color: #ffffff;
  --recruit-author-color: #ffffff;
  --recruit-author-date: #dddddd;
  --recruit-text-color: #ffffff;
  --recruit-button-background: '#1e1f21';
  --body-background-color: #1e1f21;
  --error-color: red;
  --success-color: #3498db;
  --header-background-color: #2c2d30;
  --header-sigin-in-color: #ffffff;
  --header-sigin-up-color: #2c2d30;
  --card-background-color: #1e1f21;
  --detail-card-border-color: #343a40;
  --detail-card-recruit-button: #2c2d30;
  --detail-card-recruit-button-color: #fff;
  --detail-card-tag-background-color: #343a40;
  --detail-card-tag-text-color: #cccccc;
  --detail-card-button-border-color: #333;
  --detail-card-button-background-color: #2c2d30;
  --input-color: #ffffff;
  --input-background-color: #2c2d30;
  --create-card-color: #ffffff;
  --recruit-card-author-color: #ffffff;
  --recruit-udmenu-border-color: #ffffff;
  --chat-input-background-color: #41444a;
  --chat-input-placeholder-color: #73757c;
  --management-th-background-color: #d3f9d8;
  --management-td-background-color: #2f3135;
  --input-select-border-color: #333;
  --likes-button-hover-color: #333;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--body-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--input-background-color) inset;
  -webkit-text-fill-color: var(--input-color) !important;
  box-shadow: 0 0 0 1000px var(--input-background-color) inset;
}

input::placeholder {
  color: var(--input-color);
}

textarea::placeholder {
  color: var(--input-color);
}
