.nav-bar {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 6rem;
}

.right {
  display: flex;
  align-items: center;
}

.logo {
  width: 25.3rem;
  height: 9rem;
}

.sign-in {
  height: 2.5rem;
  color: #1e0e62;
  background-color: white;
  border: none;
  font-size: 1.6rem;
  margin-right: 2rem;
}

.sign-up {
  width: 10rem;
  height: 4rem;
  color: #1e0e62;
  background-color: #b2f2bb;
  border: none;
  border-radius: 5rem;
  font-size: 1.6rem;
  margin-right: 2rem;
}

.dark-mode {
  width: 2.4rem;
  height: 2.4rem;
}
