Header {
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 108rem;
  height: 100vh;
  margin: 0 auto;
}

.chatting {
  display: flex;
  width: 100%;
  height: 900px;
}

.room {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70%;
  padding: 0 1rem;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: var(--header-background-color);
}

.chat {
  display: flex;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.profile {
  margin-right: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.6rem;
}

.author {
  display: flex;
  align-items: flex-end;
}

.author h3 {
  margin-right: 0.5rem;
  font-size: 15px;
  color: #d63763;
}

.date {
  color: var(--text-color-light);
}

.content {
  color: var(--text-color);
  font-size: 16px;
}

.input {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  outline-style: none;
  background: var(--chat-input-background-color);
  padding: 0 1.4rem;
  margin-bottom: 1rem;
}

.input::placeholder {
  color: var(--chat-input-placeholder-color);
}

.list {
  width: 30%;
  height: 60%;
  margin-left: 1rem;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 1.4rem;
  background-color: var(--header-background-color);
}

.user {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.chatBody {
  width: 100%;
  height: calc(900px - 55px);
  margin-top: 1rem;
  position: relative;
}

.messageContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.messageContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.messageContainer::-webkit-scrollbar {
  display: none;
}

.chatFooter {
  height: 55px;
  margin: 1rem 0;
  display: flex;
}

.messageContainer [id='you'] {
  justify-content: flex-start;
}

.messageContainer [id='you'] .chat {
  justify-content: flex-start;
}

.messageContainer [id='other'] {
  justify-content: flex-end;
}

.messageContainer [id='other'] .chat {
  justify-content: flex-end;
}
