Header {
  margin-bottem: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 108.1rem;
  height: 100vh;

  margin: 0 auto;
}

.chatting {
  display: flex;
  width: 100%;
  height: 800px;
}

.room {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70%;
  padding: 0 1rem;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.chat {
  display: flex;
  padding-bottom: 1rem;
}

.profile {
  margin-right: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.6rem;
}

.author {
  display: flex;
  align-items: flex-end;
}

.author h3 {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: #d63763;
}

.date {
  color: var(--text-color-light);
}

.content {
  color: var(--text-color);
}

.input {
  width: 100%;
  height: 4rem;
  border-radius: 0.4rem;
  border: none;
  font-weight: bold;
  outline-style: none;
  background: var(--box-color);
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.list {
  width: 30%;
  height: 60%;
  margin-left: 1rem;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 1rem;
}

.user {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
