.card {
  width: 30rem;
  height: 46rem;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: inline-flex;
  cursor: pointer;
  user-select: none;
}
.create-card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recruit-card:active,
.create-card:active {
  transform: scale(0.98);
}
.create-card button {
  filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.14))
    drop-shadow(0px 1px 18px rgba(0, 0, 0, 0.12))
    drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
}
.create-card-span {
  color: #333333;
  font-size: 1.6rem;
  margin-top: 3rem;
}
.detail-card {
  flex-direction: column;
  cursor: default;
}
.detail-card .tags {
  margin: 2rem 2rem;
}
.tags {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 26rem;
}
.tags button {
  flex-basis: content;
  padding: 1rem;
  margin: 0.2rem 1rem 0.2rem 0;
  cursor: default;
}
.detail-text {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  height: 30%;
  margin: 1rem 2rem;
  font-size: 1.4rem;
}
.detail-text span {
  cursor: default;
  margin: 0.5rem;
  align-items: center;
}
.detail-text img {
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
}
.detail-buttons-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail-buttons-middle button {
  margin: 0.3rem;
}
.detail-buttons-middle button:active {
  transform: scale(0.95);
  font-size: 1.5rem;
}
.detail-buttons-bottom {
  width: 26rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  align-items: center;
}
.detail-buttons-bottom button:last-child {
  justify-content: space-evenly;
}
.likes-people img {
  width: 3rem;
  height: 3rem;
  position: relative;
}
.likes-people img:nth-of-type(2) {
  right: 1rem;
}
.likes-people img:nth-of-type(3) {
  right: 2rem;
}
.recruit-card {
  align-items: flex-start;
  overflow: hidden;
  flex-direction: column;
}
.recruit-card .tags {
  margin: 0.5rem 1.5rem;
  height: 3rem;
}
.recruit-img {
  width: 30rem;
  height: 27rem;
  object-fit: cover;
}
.recruit-text {
  display: flex;
  flex-direction: column;
}
.recruit-title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0.5rem 1.5rem;
}

.recruit-subtitle {
  font-size: 1.5rem;
  margin: 0.5rem 1.5rem;
  color: #666666;
  word-break: keep-all;
  line-height: 2rem;
}
.recruit-bottom {
  display: flex;
  justify-content: space-around;
  height: 6rem;
  align-items: center;
  width: 30rem;
}
.recruit-bottom img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.5rem;
}
.recruit-text .tags button {
  cursor: pointer;
}
.likes button:active {
  background-color: #dddddd;
}
.author {
  display: flex;
  justify-content: space-between;
}
.author button {
  justify-content: flex-start;
  padding: 0;
}
.author img {
  width: 4rem;
  height: 4rem;
}
